@font-face{
   font-family: 'Pacifico';
   font-display: auto;
   src: url('../fonts/Pacifico-Regular.ttf') format("truetype");
}
body {
    background-color: #021f3c !important;
    font-size: 14px;
    font-family: Arial,Sans-Serif;
}
a{
    color: #fff;
}
a:hover{
    color: #428bca;
    text-decoration: none;
}
.footer-copyright {
    display: flex;
    align-items: center;
}
.footer-copyright p{
	color: white;
}
.footer-top {
    background-image: url(../images/bg_copyright-01.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 117%;
    height: 94px;
}
.nuti-footer .footer-copyright {
    background: url(../images/footer.png);
    background-position: 0px -70px;
}
.text-primary{
	text-align: center;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 50px;
	font-family: "Pacifico";
    color: white;
    text-shadow: 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400, 0 0 4px #059400;
}
.btn-primary{
    color: #2c5777;
    background-color: #E1ECF4;
    border-color: #2e6da4;
}
article {
    position: relative;
    padding-left: 180px;
    padding-right: 75px;
    margin-bottom: 2px;
    background-color: #FFF;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    cursor: pointer;
    padding-bottom: 0px;
    min-height: 196px;
}
.nochoice article{
    background-color: #f5e7e7;
}
.wrong .radioAnswer{
    color: #155724;
    font-weight: bold;
    background-image: url(../images/tick.png);
    background-repeat: no-repeat;
}
.wrongs{
    background-image: url(../images/edit_delete.png);
    background-repeat: no-repeat;
}

.right{
    background-image: url(../images/tick.png);
    background-repeat: no-repeat;
}
article .img-wrapper {
    position: absolute;
    top: -10px;
    left: -10px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background-color: #CDE;
    padding: 10px;
    z-index: 1000;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
article:hover .img-wrapper {
    padding: 5px;
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}
article .img-wrapper img {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: 150px;
}
article h1 {
    height: 46px;
    line-height: 44px;
    font-size: 24px;
    border-bottom: 2px solid #CDE;
    color: #428bca;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-weight: bolder;
}
article p {
    color: #888;
}
.button-fixed{
    position: fixed;
    display: block;
    top: 50%;
    right: 0px;
    z-index: 992;
    text-align: center;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
}
.button-fixed button{
	font-family: "Pacifico";
	font-size: 18px;
	/*text-shadow: 0 2px 2px #3c77b3;*/
}
.top-text{
    position: fixed;
    display: block;
    top: 10px;
    right: 20px;
    z-index: 992;
    text-align: center;
    font-size: 15px;
    line-height: 23px;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
}
.top-text .txt-email{
    color: #059400;
    font-size: 16px;
    font-weight: bolder;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}