body{
	font-family: tahoma;
}
label.error, span.required{
    color: red;
}
#loading{
    background-image: url('../../images/loading.gif');
    width: 24px;
    height: 24px;
    display: none;
}
#message{
    display: none;
}
.btn-warning{
	background-color: #FFBC10;
    border-color: #FFBC10;
    color: #000;
}
.btn-warning.hover, .btn-warning:active, .btn-warning:hover {
    background-color: #e08e0b;
}
.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
    color: #000;
    background-color: #ec971f;
    border-color: #d58512;
}
.panel-warning{
	border-color: #deb359;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 2px;
    text-align: center;
}
/*.dropdown-menu{
	background-color: #ffbc10;
}*/
.dropdown-menu li{
	padding: 5px;
}
.dropdown-menu>li>a:hover {
    background: #FFBC10;
    color: #FFF;
}
.navbar-nav>.user-menu>.dropdown-menu{
	width: 170px;
}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu{
	right: 4px;
}
.dropdown-menu>li>a {
    color: #000;
}
table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting{
    background: none;
}
/*.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #FFBC10;
    background-color: #FFBC10;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5858FFBC1058), color-stop(100%, #FFBC10));
    background: -webkit-linear-gradient(top, #FFBC10 0%, #FFBC10 100%);
    background: -moz-linear-gradient(top, #FFBC10 0%, #FFBC10 100%);
    background: -ms-linear-gradient(top, #FFBC10 0%, #FFBC10 100%);
    background: -o-linear-gradient(top, #FFBC10 0%, #FFBC10 100%);
    background: linear-gradient(to bottom, #FFBC10 0%, #FFBC10 100%);
}*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #FFBC10;
    background-color: #FFBC10;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFBC10), color-stop(100%, #FFBC10));
    background: -webkit-linear-gradient(top, #FFBC10 0%, #FFBC10 100%);
    background: -moz-linear-gradient(top, #FFBC10 0%, #FFBC10 100%);
    background: -ms-linear-gradient(top, #FFBC10 0%, #FFBC10 100%);
    background: -o-linear-gradient(top, #FFBC10 0%, #FFBC10 100%);
    background: linear-gradient(to bottom, #FFBC10 0%, #FFBC10 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #FFBC10;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFBC10), color-stop(100%, #FFBC10));
    background: -webkit-linear-gradient(top, #FFBC10 0%, #FFBC10 100%);
    background: -moz-linear-gradient(top, #FFBC10 0%, #FFBC10 100%);
    background: -ms-linear-gradient(top, #FFBC10 0%, #FFBC10 100%);
    background: -o-linear-gradient(top, #FFBC10 0%, #FFBC10 100%);
    background: linear-gradient(to bottom, #FFBC10 0%, #FFBC10 100%);
    box-shadow: inset 0 0 3px #FFBC10;
}*/
/*.dataTable td:first-child, th{
    text-align: left;
}*/
table#SLRDataItemsHours thead {background-color:blue}
.settings {
    position: fixed;
    bottom: 13%;
    right: 15px;
    width: 40px;
    height: 40px;
    color: #000;
    line-height: 40px;
    text-align: center;
    background-color: #FFBC10;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1011;
    opacity: 0.7;
}
#backtotop {
    position: fixed;
    bottom: 30px;
    right: 15px;
    width: 40px;
    height: 40px;
    color: rgb(238, 238, 238);
    line-height: 40px;
    text-align: center;
    background-color: rgb(126, 138, 144);
    cursor: pointer;
    border-radius: 5px;
    z-index: 99999;
    opacity: 0.7;
    display: none;
}
#backtotop:hover {
    background-color: #FFBC10;
    color: #000;
}
.modal-header .close {
    margin-top: -24px;
}
.small-box .icon {
    font-size: 80px;
}
.small-box:hover .icon {
    font-size: 85px;
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #FFBC10;
}
.box-header .box-title{
    font-size: 16px;
}
.nav-tabs-custom>.nav-tabs>li.active>a {
    border-top-color: transparent;
    border-left-color: #FFBC10;
    border-right-color: #FFBC10;
}
.nav-tabs-custom>.nav-tabs {
    border-bottom-color: #FFBC10;
}

.btn-group-obs a{
    margin: 0 4px;
}
.small-box h3 {
    font-size: 32px;
}
.table-permission tr th:not(:first-child){
    text-align: center;
}
.table-permission tr td:not(:first-child) {
    text-align: center;
}
.reporttable p.lead{
    border-bottom: 2px solid #FFBC10;
    background-color: #FFBC10;
    color: #fff;
    padding: 0 10px;
    margin-bottom: 0px;
}

.table-bordered-report>tbody>tr>th{
    font-weight: normal;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #715407 !important;
}
table>thead .dt-head-left {
    text-align: left !important;
}
table>thead .dt-head-right {
    text-align: right !important;
}
table>tbody .dt-body-left {
    text-align: left !important;
}
table>tbody .dt-body-right {
    text-align: right !important;
}
table.dataTable>thead>tr>th:not(.sorting_disabled), table.dataTable>thead>tr>td:not(.sorting_disabled) {
     padding-right: 20px !important; 
}
div.dataTables_filter input {
    margin-right: 5px;
}
.DTFC_LeftBodyLiner{
    overflow-y: hidden !important;
    width: 100% !important;
}
.DTFC_Cloned td.text-right {
    padding-right: 20px
}
.del_image{
    cursor: pointer;
    color: red;
}
.required{
    color: red;
}
/* Ensure that the demo table scrolls */
div.dataTables_wrapper {
    margin: 0 auto;
}
/*.DTFC_LeftHeadWrapper table.dataTable.no-footer {
    border-bottom: none;
    margin-top: 6px !important;
    margin-bottom: 0 !important;
}
.DTFC_LeftBodyWrapper{
    top : 11px !important;
}
.DTFC_LeftBodyLiner{
    top : 7px !important;
}*/
.DTFC_Cloned, .DTFC_Cloned>thead>tr.active>th{
    background-color: #FFBC10 !important;
}



.DTFC_Cloned>tbody>tr.hover{
    background-color: #f5f5f5 !important;
}

table.dataTable>tbody>tr.hover{
    background-color: #f5f5f5 !important;
}

table.dataTable tbody tr{
    background-color: #ffffff;
}

#UTable_length, .dataTables_length {
    float: left;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #FFBC10;
    border-color: #FFBC10;
}
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after {
    display:none !important;
}

table.dataTable thead .sorting_desc::after {
    display:none !important;
}

table.dataTable thead .sorting::before,
table.dataTable thead .sorting_asc::before {
    display:none !important;
}

table.dataTable thead .sorting_desc::before {
    display:none !important;
}

table.dataTable thead .sorting {
    background-image: url(https://datatables.net/media/images/sort_both.png);
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_asc {
    background-image: url(https://datatables.net/media/images/sort_asc.png);
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_desc {
    background-image: url(https://datatables.net/media/images/sort_desc.png);
    background-repeat: no-repeat;
    background-position: center right;
}
/*table.DTFC_Cloned thead .sorting:after, table.DTFC_Cloned thead  .sorting_asc:after, table.DTFC_Cloned thead .sorting_desc:after{
    content: "";
}
.dataTables_scroll .dataTables_scrollHead .table tr th{
    background-color: #f5f5f5;
}*/
.input_point{
    margin: 0 auto;
    /*text-align: center;*/
    min-width: 70px;
}
td.details-control {
    background: url('../../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../../images/details_close.png') no-repeat center center;
}
table.tablechild{
    font-size: 13px;
    margin-left: 115px;
}
table.tablechild td{
    border: 1px solid gray !important;
}
table.tablechild thead tr td{
    font-weight: bolder;
    text-align: center;
    padding: 8px 10px;
}
table.tablechild tbody tr td{
    padding: 8px 10px;
}
.background-check-all{
    background-color: rgb(236, 151, 31);
    background-image: none;
}
#overlay {
    background-color: rgba(0, 0, 0, .5);
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: 0.5;
    display: none;
}
#ajaxCall {
    top: 50%;
    right: 45%;
}

/* Ensure that the demo table scrolls */
/*
Zoom plugin
 */
img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -webkit-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}
img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition:      opacity 300ms;
       -o-transition:      opacity 300ms;
          transition:      opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}
.bg-warning{
    background-color: antiquewhite;
}
li.treeview a span{
    font-weight: bolder;
}
.row_data{
    text-align: right;
}
/*
Zoom plugin
 */
@media (max-width: 767px)
{
	.skin-green .main-header .navbar .dropdown-menu li a {
    	color: #000;
	}
	.skin-green .main-header .navbar .dropdown-menu li a:hover {
	    background: #FFBC10;
	}
}